.pizza__home {
  width: 100%;
  height: calc(100vh - 64px);
  background-image: url(../assets/pizza-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
